.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://img.freepik.com/foto-gratis/fondo-color-pastel-papeles_51519-1252.jpg?size=626&ext=jpg);
  background-size: cover;
}
