.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://img.myloview.es/fotomurales/distressed-black-texture-dark-grainy-texture-on-white-background-dust-overlay-textured-grain-noise-particles-rusted-white-effect-grunge-design-elements-vector-illustration-eps-10-400-257814113.jpg);
  background-size: cover;
}
